@font-face {
  font-family: 'mario'; /* This is the name you'll use throughout your CSS */
  src: url('./fonts/mario.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  background-color: #1e272e; /* Set the background color for the whole app */
  display: flex;
  flex-direction: column; /* Stack children elements vertically */
  align-items: center; /* Center children horizontally */
  justify-content: flex-start; /* Align children to the start vertically */
  min-height: 100vh;
  font-family: 'mario', sans-serif; /* Fallback font */
  color: #d2dae2; /* Set the default text color for the app */
  padding-top: 60px; /* Height of the stripes container */
}

/* Reset the padding and margin of the body to remove default spacing */
body {
  margin: 0;
  padding: 0;
}

.stripes-container {
  position: absolute; /* Fixed position to always stay at the top */
  top: 0;
  left: 0;
  width: 100%;
  height: 20px; /* Adjust the height of each stripe */
  display: flex;
  flex-direction: column;
  z-index: 10;
}

/* Keep the stripe height equal to the stripes-container height divided by the number of stripes */
.stripe {
  height: calc(60px / 3); /* Adjust the divisor based on the number of stripes */
  width: 100%;
}

/* Center the main content vertically after the stripes */
.main-content {
  display: flex;
  justify-content: row; /* Horizontally center the content */
  align-items: flex-start; /* Start aligning items from the top */
  width: 100%;
  padding-top: 20px; /* Ensure this is the height of your stripes container */
  padding-bottom: 20px;
  
}

.side-container {
  flex: 1; /* Take up available space but respect max-width */
  max-width: 50%; /* Ensure the side content doesn't take more than half the width */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  margin-left: 20px; /* Spacing between list and side content */
}

/* Media query for full browser width */
@media (min-width: 1200px) { /* Adjust the min-width as needed */
  .side-container {
    padding-right: 10%; /* Add padding to push the content more to the right */
    /* Or you can use margin-right if padding is not suitable for your layout */
  }
}

/* You may also want to adjust the max-width of the side-container to bring it closer to the food-list-container */
@media (min-width: 1200px) {
  .side-container {
    max-width: 10%; /* Adjust as needed */
  }
}

.title-container {
  text-align: center;
  padding: 10px 0; /* Add padding above and below the title */
  width: 100%; /* Ensure the title container takes full width */
}

.title-container h1 {
  font-family: 'mario', Arial, sans-serif; /* Use your custom font */
  color: #FFFCEE; /* Choose a color that fits your design */
  font-size: 35px; /* Adjust the size as needed */
 
} 

/* Animated part of the title */
.animated-title {
  display: inline; /* Keep the flow inline with the static text */
}
/* Keyframe animation for changing colors */
@keyframes colorChange {
  0%, 100% { color: #ef5777; }
  20% { color: #FF7F00; }
  40% { color: #575fcf; }
  60% { color: #05c46b; }
  80% { color: #0fbcf9; }
}


/* Apply the animation to each letter */
.letter-animation {
  display: inline-block; /* Allows individual animation */
  animation: colorChange 4s steps(8, end) infinite; /* Apply the keyframe animation */
}

.letter-0 { animation-delay: 0s; }
.letter-1 { animation-delay: 0.1s; }
.letter-2 { animation-delay: 0.2s; }
.letter-3 { animation-delay: 0.3s; }
.letter-4 { animation-delay: 0s; }
.letter-5 { animation-delay: 0.1s; }
.letter-6 { animation-delay: 0.2s; }
.letter-7 { animation-delay: 0.3s;}
.letter-8 { animation-delay: 0s; }
.letter-9 { animation-delay: 0.1s; }
.letter-10 { animation-delay: 0.2s; }
.letter-11 { animation-delay: 0.3s;}

.food-list-container {
  /* ... existing styles ... */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%; 
}



.content-container {

  display: flex;
  width: 100%;
  justify-content: center; /* Center the children (food list and side container) */
  align-items: start; /* Align the items at the start (top) */
}

.food-item {
  cursor: pointer;
  margin-bottom: 10px; /* Adjust line spacing between food items */
  font-size: 20px; /* Adjust font size as needed */
}

.food-item:hover {
  color: #FFFCEE; /* Change text color when hovered */
}

.food-item.selected {
  color: #ffdd59; /* Change text color when selected */
}

.total-calories {
  flex: 0 1 auto; /* Allow the calories to only take up the space it needs */
  text-align: right; /* Align to the right to keep it center-right of the screen */
  padding: 20px;
  color: white; /* Set the color for Total Calories */
  font-size: larger;
  max-width: 50%; /* Adjust max-width to fit the content nicely on larger screens */
}

.buttons-container {
  text-align: right; /* Align buttons to the right under Total Calories */
  margin-top: 20px;
  
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



.button-95 {
  background-color: #ff5e57; /* Classic grey background */
  border: none;
  padding: 6px 12px;
  font-family: 'mario', Arial, sans-serif; /* Pixelated font or Arial as fallback */
  font-size: 16px; /* Size of the text */
  color: whitesmoke;
  text-transform: uppercase; /* Button text style */
  outline: none;
  cursor: pointer;
  position: relative; /* For pseudo-element positioning */
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none;
  margin: 0 4px; /* Space between buttons */
  margin-bottom: 10px;
}

.button-95:active {
  background-color: #fd837d; /* Darker background when button is clicked */
}

.button-95:before, /* Top & Left border */
.button-95:after { /* Bottom & Right border */
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.button-95:before {
  border-top: 2px solid #ff897a; /* White top border */
  border-left: 2px solid #ff897a; /* White left border */
  top: -2px; /* Shift border outside of button */
  left: -2px;
}

.button-95:after {
  border-bottom: 2px solid #e55039; /* Dark grey bottom border */
  border-right: 2px solid #e55039; /* Dark grey right border */
  top: 2px; /* Shift border inside of button to give depth */
  left: 2px;
}




.total-calories-container {
  text-align: center; /* Center the content */
  color: white; /* Default color */
}

.total-calories-label {
  font-family: 'mario', Arial, sans-serif; /* Mario font for the label */
  color: #d2dae2;
  font-size: 26px
  /* Additional styling as needed */
}

.total-calories-value {
  font-family: 'mario', Arial, sans-serif; /* Mario font for the label */
  color: #0be881; /* Green color for the value */
  font-size: 30px
  /* Additional styling as needed */
}







.stripes-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Total height of all stripes together */
  display: flex;
  flex-direction: column; /* Stack stripes on top of each other */
}

/* Each stripe will now take up the full width and have an equal portion of the total container height */
.stripe {
  height: 20px; /* Set each stripe to a fixed height */
  width: 100%;
}

.stripe-1 { background-color: #4bcffa; } /* Red */
.stripe-2 { background-color: #FF7F00; } /* Orange */

.stripe-4 { background-color: #ffd32a; } /* Yellow */
.stripe-5 { background-color: #05c46b; } /* Yellow */

