.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.food-list {
  flex: 1;
  padding: 20px;
  font-size: small;
}

.total-calories {
  flex: 1;
  text-align: center;
  font-size: larger;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

/* Assuming each food item is wrapped in a div or another element with a specific class name */
.food-item {
  cursor: pointer;
}

/* Or if you don't have a specific class for food items, you can target all divs inside the food list container */
.food-list-container div {
  cursor: pointer;
}
